
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/

#history_heighlight {
	padding: 3.5rem 0;

	@include media-breakpoint-up(xxl) {
		position: absolute;
		bottom: 0;	
	}	

	p {
		font-size: $h3-font-size;
		line-height: 1.5;
	}
}

#map {
	height: 30rem;
}


//-------------------- Arrow Link --------------------//

.arrow-link {
	position: relative;
	padding-right: 1.5rem;	

	&:after {
		content: "";
		position: absolute;
		right: 0.25rem;
		top: 50%;
		margin-top: -0.25rem;
		display: block;
		width: 0.25rem;
		height: 0.8rem;
		background-image: url(../images/right-arrow-icon.png);
		background-repeat: no-repeat;
		background-size: 100%;		
		opacity: 0;
		@include transition(opacity 0.3s ease-in-out);
	}

	&:hover:after {
		opacity: 1;
	}
}