
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	position: relative;	

	// Transparent header
	&.transparent-header {
		background: transparent;
		z-index: 199;
	}
}


/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header Left Area
-----------------------------------------------------------------*/


#header-left-col {	
	display: flex;
	align-items: center;
}


/* ----------------------------------------------------------------
	Header Right Area
-----------------------------------------------------------------*/


#header-right-col {
	display: flex;
	align-items: center;
}


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/


#logo {
	position: relative;
	margin-right: 5.5rem;
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/


#primary-menu {
	ul {
		display: flex;
		margin: 0;

		li {			
			border-top: 3px solid transparent;
			padding: rem($primary-menu-padding) rem(8);

			&.current,
			&:hover {
				border-color: $theme-color;

				a {
					color: $theme-color;
				}
			}

			a {
				color: $primary-menu-font-color;
				display: block;
				font-family: $primary-menu-font;
				font-weight: $primary-menu-font-weight;
				font-size: $primary-menu-font-size;
				line-height: 1;
				letter-spacing: $primary-menu-font-spacing;
				text-transform: $primary-menu-font-tt;				
			}
		}
	}
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/


#top-btns {
	ul {
		display: flex;		

		li {
			padding: 0 0.75rem;

			a {
				color: $top-btn-font-color;
				font-size: $top-btn-font-size;
				line-height: 1;

				&:hover {
					color: $theme-color;
				}
			}
		}
	}
}



/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Account
-----------------------------------------------------------------*/






