
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/


#page-title {
	position: relative;
	padding-top: 5.5rem;
	
	.title {
		display: block;		
		font-family: $heading-font;
		font-size: $h1-font-size;
		font-weight: 900;		
		line-height: 1;
		margin-bottom: 3.25rem;
	}

	.sub-title {
		display: block;
		font-family: $heading-font;		
		font-size: $h2-font-size;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1.5rem;
	}
}

.breadcrumb {
	display: flex;
	font-size: $h6-font-size;

	li {
		padding: 0 0.625rem;

		&:first-child {
			padding-left: 0;
		}
	}
}