
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* Category
-----------------------------------------------------------------*/
.category {
	margin-bottom: rem(30);

	&:hover {
		.category-image {
			background-color: $body-color;
		}
	}

	.category-image {
		background-color: #f0f0f0;
		border-radius: 50%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(150);
		height: rem(150);

		img {
			display: block;
		}
	}

	.category-desc {
		margin-top: rem(40);
	}

	.category-title {		
		color: $heading-color;
		font-family: $body-font;
		font-size: $h4-font-size;
		font-weight: 400;
		line-height: $line-height-sm;		
		margin-bottom: rem(6);
	}

	.category-products-count {
		color: $body-color;
		font-family: $body-font;
		font-size: $font-size-base;
		font-weight: 400;
		line-height: $line-height-base;
	}
}


/* Product
-----------------------------------------------------------------*/
.product {
	margin-bottom: rem(30);
	position: relative;

	// Product Details on image
	&.product-on-image {
		.product-details {
			position: absolute;
			left: 0;
			width: 100%;
			padding: rem(20);

			&.product-details-on-top {
				top: 0;
			}

			&.product-details-on-bottom {
				bottom: 0;
			}
		}
	}

	// Product in flat mode
	&.product-flat {
		background-color: $white;
		border-radius: rem(10);
		display: flex;
		align-items: center;
		height: rem(150);

		.product-image,
		.product-details {
			flex: 1;
			height: 100%;
		}

		.product-image {
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				max-height: 100%;
				width: auto;
			}
		}

		.product-details {
			padding-left: rem(15);
		}
	}

	.product-image {
		text-align: center;

		a {
			display: inline-block;
			width: 100%;
		}

		.onhot {
			position: absolute;
			left: rem(20);
			top: rem(20);
		}
	}

	.product-details {
		padding: rem(20) 0 0 0;		
	}

	.product-price {
		color: $theme-color;
		font-family: $body-font;
		font-size: $h3-font-size;
		font-weight: 400;
		line-height: $line-height-sm;
		display: flex;
		align-items: center;

		.onsale {
			margin-left: rem(8);
		}
	}

	.product-info {
		color: rgba($theme-color, 0.5);
	}

	.product-title {
		color: $heading-color;
		font-family: $body-font;
		font-size: $h4-font-size;
		font-weight: 300;
		line-height: 2;
		display: inline-block;
		margin-bottom: 0;
	}

	.product-categories {
		a {
			color: rgba($theme-color, 0.5);
			font-family: $body-font;
			font-size: $font-size-base;
			font-weight: 300;
			line-height: $line-height-base;
		}		
	}

	.product-rating {
		margin-top: rem(8);

		i {
			color: $theme-color;

			&.empty {
				color: rgba($theme-color, 0.5);
			}
		}
	}

	.onhot {
		color: $theme-color;		
		font-family: $body-font;
		font-size: $h6-font-size;
		font-weight: 700;
		text-transform: uppercase;
	}

	.onsale {
		background-color: $theme-color;
		border-radius: rem(8);
		color: $white;
		display: inline-block;
		font-family: $body-font;
		font-size: $h6-font-size;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;
		padding: rem(2) rem(4);
	}

	.add-to-cart,
	.add-to-wishlist {
		color: rgba($theme-color, 0.5);
		font-size: $h3-font-size;

		&:hover {
			color: rgba($theme-color, 1);
		}
	}

	.add-to-cart {
		margin-right: rem(15);
	}
}