
/*-----------------------------------------------------------------------------------
	typography.scss
-----------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for typography. Thanks!
-----------------------------------------------------------------*/


dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
}

::selection {
	background: $theme-color;
	color: $white;
	text-shadow: none;
}

::-moz-selection {
	background: $theme-color; /* Firefox */
	color: $white;
	text-shadow: none;
}

::-webkit-selection {
	background: $theme-color; /* Safari */
	color: $white;
	text-shadow: none;
}

:active,
:focus { outline: none !important; }


/* ----------------------------------------------------------------
	Typography
-----------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
    font-size: 100%;

    /*--------------------------------------------------------------
    ## Netbook
    --------------------------------------------------------------*/
    @include media-breakpoint-down(xl) {
        font-size: 90%;
    }

    /*--------------------------------------------------------------
    ## Tablet
    --------------------------------------------------------------*/
    @include media-breakpoint-down(lg) {
        font-size: 85%;
    }
  
    /*--------------------------------------------------------------
    ## Mobile
    --------------------------------------------------------------*/
    @include media-breakpoint-down(md) {
        font-size: 80%;
    }
    
    /*--------------------------------------------------------------
    ## Mini
    --------------------------------------------------------------*/
    @include media-breakpoint-down(sm) {
        font-size: 75%;
    }
}


body {
	line-height: $line-height-base;
	color: $body-color;
	font-size: $font-size-base;
	font-family: $body-font;
}

iframe { border: none !important; }


/* ----------------------------------------------------------------
	Basic Layout Styles
-----------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $headings-color;
	line-height: 1;
	margin: 0 0 1.875rem 0;
	font-family: $heading-font;
	font-weight: 700;
}

h1 {
	font-weight: 900;
	line-height: $line-height-base;
}

// h5,
// h6 { margin-bottom: 1.25rem; }

p,
pre,
dl,
dd,
blockquote,
q,
address,
table,
fieldset,
form { margin-bottom: 1.875rem; }

small { font-family: $body-font; }

ul { margin: 0; }
ul li { list-style: none; }

ul:not([class], .top-social *, .product-filters *) {
	li {
		padding-left: 1.875rem;
		position: relative;

		&::before {
			content: "";
			border-bottom: 2px solid $theme-color;
			border-right: 2px solid $theme-color;
			top: 10px;
			left: 10px;
			width: 5px;
			height: 8px;
			display: block;
			position: absolute;
		
			@include rotate(45deg);
		}
	}
}

i { 
	display: inline-block;
	line-height: inherit;
}

a {
	@include transition(color 0.3s ease-in-out);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  	-webkit-appearance: none;
  	margin: 0;
}

/* Firefox */
input[type=number] {
  	-moz-appearance: textfield;
}

/* Blockquote */
blockquote,
q {
	color: $theme-color;
	display: block;
	font-size: 1.875rem;
	font-style: italic;
	font-weight: 300;
	line-height: 3.75rem;

	&::before {
		color: $theme-color;
		font-size: 3rem;
		font-style: italic;
		font-weight: 300;
		line-height: 1;
		display: block;
		text-align: center;
	}

	&::after {
		content: "";
	}
}