
/*-----------------------------------------------------------------------------------
	typography.scss
-----------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for typography. Thanks!
-----------------------------------------------------------------*/


dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
}

::selection {
	background: $theme-color;
	color: $white;
	text-shadow: none;
}

::-moz-selection {
	background: $theme-color; /* Firefox */
	color: $white;
	text-shadow: none;
}

::-webkit-selection {
	background: $theme-color; /* Safari */
	color: $white;
	text-shadow: none;
}

:active,
:focus { outline: none !important; }


/* ----------------------------------------------------------------
	Typography
-----------------------------------------------------------------*/


body {
	line-height: $line-height-base;
	color: $body-color;
	font-size: $font-size-base;
	font-family: $body-font;
}

iframe { border: none !important; }


/* ----------------------------------------------------------------
	Basic Layout Styles
-----------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
	line-height: 1;
	margin: 0 0 1.875rem 0;
	font-family: $heading-font;
	font-weight: 700;
}

h1 {
	font-weight: 900;
	line-height: $line-height-base;
}

// h5,
// h6 { margin-bottom: 1.25rem; }

p,
pre,
dl,
dd,
blockquote,
address,
table,
fieldset,
form { margin-bottom: 1.875rem; }

small { font-family: $body-font; }

ul { margin: 0; }
ul li { list-style: none; }

i { 
	display: inline-block;
	line-height: inherit;
}

a {
	@include transition(color 0.3s ease-in-out);
}