/*-----------------------------------------------------------------------------------
	utilities.scss
-----------------------------------------------------------------------------------*/


//-------------------- Fonts --------------------//

// Font Family
.body-font { font-family: $body-font !important; }
.heading-font { font-family: $heading-font !important; }

// Font Weight
.fw-semi-bold { font-weight: 600 !important; }

// Text Color
.text-black { color: #000 !important; }


//-------------------- Image --------------------//

img {
	&.img-full {
		width: 100%;
	}
}


//-------------------- Section ------------------//

.section {
	position: relative;
	padding-top: $section-spacer;
	padding-bottom: $section-spacer;
}

.section-padding-top {
	padding-top: $section-spacer;
}

.section-padding-bottom {
	padding-bottom: $section-spacer;
}

.section-margin-top {
	margin-top: $section-spacer;
}

.section-margin-bottom {
	margin-bottom: $section-spacer;
}


//-------------------- Link --------------------//

.arrow-link {
	position: relative;
	padding-right: 1.5rem;	

	&:after {
		content: "";
		position: absolute;
		right: 0.25rem;
		top: 50%;
		margin-top: -0.25rem;
		display: block;
		width: 0.25rem;
		height: 0.8rem;
		background-image: url(../images/right-arrow-icon.png);
		background-repeat: no-repeat;
		background-size: 100%;		
		opacity: 0;
		@include transition(opacity 0.3s ease-in-out);
	}

	&:hover:after {
		opacity: 1;
	}
}