/*-----------------------------------------------------------------------------------
	utilities.scss
-----------------------------------------------------------------------------------*/


//-------------------- Fonts --------------------//

// Font Family
.body-font { font-family: $body-font !important; }
.heading-font { font-family: $heading-font !important; }

// Font Weight
.fw-semi-bold { font-weight: 600 !important; }

// Text Color
.text-black { color: #000 !important; }


//-------------------- Image --------------------//

img {
	max-width: 100%;
	
	&.img-full {
		width: 100%;
		height: 100%;
		object-position: center;
		object-fit: cover;
	}
}


//-------------------- Section ------------------//

.section {
	position: relative;
	padding-top: $section-spacer;
	padding-bottom: $section-spacer;
}

.section-padding-top {
	padding-top: $section-spacer;
}

.section-padding-bottom {
	padding-bottom: $section-spacer;
}

.section-margin-top {
	margin-top: $section-spacer;
}

.section-margin-bottom {
	margin-bottom: $section-spacer;
}


//-------------------- Slider ------------------//
.slider.slider-horizontal {
    width: 100%;

    .slider-track {
        height: 5px;
    }
}

.slider-track {
    background-color: $light;
    background-image: none;

    @include box-shadow(none);
}

.slider-selection,
.slider-handle {
    background-color: $theme-color;
    background-image: none;

    @include box-shadow(none);
}

.slider-handle {
    width: 14px;
    height: 14px;
}


//-------------------- Tabs ------------------//
.nav-tabs {
	border-bottom: 0;
	margin-bottom: 1rem;

	.nav-link {
		font-size: 1.125rem;
		font-weight: 600;
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}
}


//-------------------- Accordion ------------------//
.accordion-header {
	margin-bottom: 0;
}

.accordion-button {
	font-family: $body-font;
	font-size: 1rem;
	font-weight: 600;
}

.accordion-body {
	padding-top: 0;
}

.accordion-item {
	margin-bottom: 0.5rem;
	overflow: hidden;

	@include border-radius(0.5rem);

	&:first-of-type,
	&:last-of-type {
		@include border-radius(0.5rem);
	}
}

//-------------------- Pagination ------------------//
.pagination {
	.page-item {
		margin-left: 0.5rem;		

		&.prev {
			.page-link {
				&::before {
					content: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.8999 1L0.899902 10L9.8999 19' stroke='%23302f2d' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					margin-right: 0.625rem;
				}

				&:hover::before {
					content: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.8999 1L0.899902 10L9.8999 19' stroke='%23ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				}
			}			
		}

		&.next {
			.page-link {
				&::after {
					content: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.899902 1L9.8999 10L0.899902 19' stroke='%23302f2d' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					margin-left: 0.625rem;
				}

				&:hover::after {
					content: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.899902 1L9.8999 10L0.899902 19' stroke='%23ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				}
			}
		}

		.page-link {
			line-height: 1;
			position: relative;

			@include border-radius($pagination-border-radius);
		}
	}
}