
/* ----------------------------------------------------------------

	widgets.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for widgets. Thanks!
-----------------------------------------------------------------*/


.widget {
	position: relative;

	.widget-title {
		font-size: $h5-font-size;
		font-family: $body-font;
		font-weight: 600;
		margin-bottom: 0.75rem;
	}	

	// Widget - Social
	&.widget-social {
		.social-icons {
			li {
				padding: 0 0.25rem;

				&:last-child {
					padding-right: 0;
				}
		
				a {
					background-color: #43423f;					
					color: #b7b7b7;
					display: inline-block;
					line-height: 1.8125rem;
					width: 1.8125rem;
					height: 1.8125rem;		
					vertical-align: middle;
					text-align: center;
					@include border-radius(50%);
		
					&:hover {
						background-color: $theme-color;
						color: $white;
					}
		
					i {
						vertical-align: top;
						line-height: 1.8125rem;
					}
				}
			}
		}
	}

	// Widget - Links
	&.widget-links {
		ul {
			display: flex;
			justify-content: space-between;

			li {
				a {
					color: $white;
					font-weight: 600;
					text-transform: uppercase;

					&:hover {
						color: $theme-color;
					}
				}
			}
		}
	}

	// Widget - Payments
	&.widget-payment {
		.payments {
			display: flex;

			.payment-icon {
				display: inline-block;
				vertical-align: middle;
				margin-right: 0.25rem;
				width: 3.5rem;
				height: 2rem;
				background-color: #d6d3cc;
				background-size: 80% auto;
				background-repeat: no-repeat;
				background-position: center;

				@include border-radius(0.25rem);

				&.visa {
					background-image: url(../images/payments/visa.svg);
				}

				&.paypal {
					background-image: url(../images/payments/paypal.svg);
				}

				&.express {
					background-image: url(../images/payments/express.svg);
				}

				&.mastercard {
					background-image: url(../images/payments/mastercard.svg);
				}
			}
		}
	}

	// Widget - Subscribe
	&.widget-subscribe {
		.widget-content {
			.form-control:focus {
				& + .input-group-append {
					.btn {
						border-top-left-radius: 0;
    					border-bottom-left-radius: 0;
					}
				}
			}
		}
	}
}