
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 3.75rem; 

	.title {		
		display: block;
		font-family: $heading-font;
		font-size: $h2-font-size;
		font-weight: 900;
		line-height: 1;
		margin-bottom: 0;
	}

	.sub-title {		
		display: block;
		font-family: $heading-font;
		font-size: $h3-font-size;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1.5rem;
	}
}