
/*-----------------------------------------------------------------------------------

	Shortcodes: partners.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Partners logo Styles
-----------------------------------------------------------------*/


.logos {
	display: flex;
	justify-content: space-between;

	.logo-item {
		border: 1px solid #eaeaea;
		border-radius: rem(5);
		max-width: rem(170);
		height: rem(100);
		width: 100%;		
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: auto;
			height: auto;
		}
	}
} 