
/*-----------------------------------------------------------------------------------

	Shortcodes: partners.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Partners logo Styles
-----------------------------------------------------------------*/


.logos {
	.logo-item {
		border: 1px solid #eaeaea;
		border-radius: 0.3125rem;
		height: 6.25rem;
		width: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 0.9375rem;

		img {
			width: auto;
			height: auto;
		}
	}
}